Hier befindet sich eine Kopie des Schichtplans, so wie er stündlich aus der
Software des Kassenrechners ausgelesen wird.

Letzte Aktualisierung: <!-- timestamp -->

{% set last_date = None %}
{% set last_time = None %}
{% set last_extra_time = None %}
{% set last_person = None %}

<table>
    <thead>
    <tr>
        <th>Datum</th>
        <th>Tresen</th>
        <th>Person</th>
        <th>Vertr.</th>
        <th>Kurs</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>
            {% if last_date is none or last_date != row.datum %}
                {% set last_date = row.datum %}
                {% if row.wochentag == "0" %}So
		{% elif row.wochentag == "1" %}Mo
		{% elif row.wochentag == "2" %}Di
		{% elif row.wochentag == "3" %}Mi
		{% elif row.wochentag == "4" %}Do
		{% elif row.wochentag == "5" %}Fr
		{% elif row.wochentag == "6" %}Sa
		{% endif %}
		&nbsp;
		{{ row.datum }}
            {% endif %}
        </td>
        <td>
            {% if last_time is none or last_time != row.tresen_ende %}
                {% set last_time = row.tresen_ende %}
                {% if row.tresen_beginn and row.tresen_ende %}
                    {{ row.tresen_beginn }}–{{ row.tresen_ende }}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if last_person is none or last_person != row.Tresen %}
                {% set last_person = row.Tresen %}
                {% if row.vertretung_angefordert == "1" %}
                    <del>{{ row.Tresen }}</del>
                    {% else %}
                    {{ row.Tresen }}
                {% endif %}
            {% endif %}
        </td>
        <td>{{ row.Vertretung }}</td>
        <td>
            {% if row.kurs_beginn and row.kurs_ende %}
                {{ row.kurs_beginn }}–{{ row.kurs_ende }}
            {% endif %}
        </td>
        <td>{% if row.achtung %}
                <b>{{ row.kurs }}</b>
            {% else %}
                {{ row.kurs }}
            {% endif %}
            {% if row.teilnehmer %}({{ row.teilnehmer }}){% endif %}
        </td>
        <td>{{ row.Kursleitung }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


